@font-face {font-family: DIN; src: url('DIN.ttf');}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DIN, sans-serif;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url(hsrversion3.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.timebox{
    display: flex;
    gap: 90px;
}

.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    display: flex;
    gap: 20px;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 10px;
    font-family: DIN, sans-serif;
}